In [15]:
import numpy as np
import pandas as pd

from iterstrat.ml_stratifiers import MultilabelStratifiedKFold

In [16]:
train_df = pd.read_csv("train_encoded.csv")
test_df  = pd.read_csv("test_encoded.csv")

In [17]:
y = train_df.drop(['risk_flag'],axis=1)

kf = MultilabelStratifiedKFold(n_splits=9, shuffle=True , random_state=0)


for f, (t_, v_) in enumerate(kf.split(X=train_df, y=y)):
    train_df.loc[v_, 'kfold'] = f

/home/miharsh/.local/lib/python3.8/site-packages/sklearn/utils/validation.py:70: FutureWarning: Pass shuffle=True, random_state=0 as keyword args. From version 1.0 (renaming of 0.25) passing these as positional arguments will result in an error
  warnings.warn(f"Pass {args_msg} as keyword args. From version "

In [32]:
train_df.kfold = train_df.kfold.astype(np.int64)

In [30]:
train_df[train_df.kfold ==9].risk_flag.sum()

0

In [34]:
train_df.to_csv("train_folds.csv",index=False)

In [4]:
test_df

,income,age,experience,married,house_ownership,car_ownership,profession,city,state,current_job_years,current_house_years,risk_flag
0,7393090,59,19,0,0,0,39,91,20,4,13,0
1,1215004,25,5,0,0,0,25,154,10,5,10,0
2,8901342,50,12,0,0,0,29,10,10,9,14,0
3,1944421,49,9,1,0,1,15,319,10,3,12,0
4,13429,25,18,0,0,1,31,119,20,13,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...
27995,9955481,57,13,0,0,0,38,115,15,5,10,0
27996,2917765,47,9,0,0,0,43,186,22,9,14,0
27997,8082415,24,5,0,0,0,29,239,10,4,13,0
27998,9474180,51,13,0,0,1,40,236,21,13,14,0
27999,9250350,42,9,0,0,0,14,5,10,4,10,0